<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <header>
        <h3>Logotype + en navbar med Login/Logout samt registrera ny användare</h3>
        <nav>
            <a th:href="@{/login}" method="get"><button>Logga in</button></a>
            
            <a th:href="@{/logout}" method="post"><button>Logga ut</button></a>
            
        </nav>
    </header>
    
    <div>
        <h1>produkter</h1>
        <div th:each="product : ${products}">
            <h2 th:text="${product.name}"></h2>
            <img th:src="${product.imageUrl}" alt="Produktbild">
            <p th:text="${product.price} +' SEK'"></p>
        </div>
    </div>
    
</body>
</html>