<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <header>Logotype + en navbar med Login/Logout samt registrera ny användare</header>
    
    <div>
        Här ska det vara en "container" med produktens detaljer.
        Det är här description skall visas, även en större bild av produkten jämfört med index.html.
    </div>
    
</body>
</html>