<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/styling.css">
</head>
<body>
    <!-- hämtar headern ifrån index -->
    <div th:insert="index :: header"></div>
    
    <div class="product-details-container">
        <!-- bild -->
        <img th:src="${product.imageUrl}" alt="Produktbild">
        <!-- detaljer -->
        <div class="product-details">
            <h2 th:text="${product.name}"></h2>
            <p th:text="${product.description}" id="product-desc"></p>
            <p th:text="${product.price} +' SEK'"></p>

            <!-- här ska en länk vara "add to cart" men ska bara vara synlig när man är inloggad -->
             <button sec:authorize="isAuthenticated()">Add to cart+</button>
        </div>
    </div>
    <a th:href="@{/}" class="go-back-button"><button>Tillbaka</button></a>

    
</body>
</html>